<h1><a href="https://github.com/bfwg/springboot-jwt-starter">Springboot JWT Starter</a></h1>

<div  ng-show="!authenticated">
	<p>please authenticated on login page</p>
</div>
<div ng-show="authenticated">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">certificate</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td><ul id="cert"></ul><span id="modal" ng-click="showModal($event)" data-userName={{user.username}} data-toggle="modal" data-target="#DataCertificate"> Ajout d'un certificat <i style="cursor: pointer;" class="fa fa-plus text-primary"></i></span></td>
            </tr>
        </tbody>
    </table>


    <!-- Modal for add certificate -->
    <div ng-controller="CreateCertificateCtrl" class="modal fade" id="DataCertificate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create certificate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-files="getTheFiles($files)">
                        <label>Veuillez insérer votre certificat</label>
                        <input type="file" name="file"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="CreateCertificate()" type="button" class="btn btn-primary">Create certificate</button>
                </div>
            </div>
        </div>
    </div>
</div>
