<div ng-show="!authenticated">
    <p>please authenticated on login page</p>
</div>
<div ng-show="authenticated">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./table.html">
                            <i class="nc-icon nc-notes"></i>
                            <p class="txt1">Lister mes Certificats</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="modal" type="button" class="btn btn-success" ng-click="showModal($event)"
                                    data-userName={{user.username}}
                                    data-toggle="modal" data-target="#DataCertificate">Ajouter un Certificat
                            </button>
                            <br>
                            <br>
                            <br>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom du Certificat</th>
                                    <th scope="col">Date de Création</th>
                                    <th scope="col">Date D'expiration</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Opérations</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="cerficate in certificates">
                                    <th scope="row">{{cerficate.id}}</th>
                                    <td>{{cerficate.path}}</td>
                                    <td>{{cerficate.creation | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                    <td>{{cerficate.dateValidity}}</td>
                                    <td><a class="txt1" ng-class="{'badge': 'badge', ' badge-info':' badge-info'}">{{cerficate.valid
                                        == true ? "Valide" : "Non Valide"}}</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-fill btn-sm"
                                                ng-click="openViewCertificateModal(cerficate)"
                                                data-toggle="modal" data-target="#ViewDataCertificate">Voir
                                        </button>
                                        <button type="button" class="btn btn-success btn-fill btn-sm">Renouveller
                                        </button>
                                        <button type="button" class="btn btn-danger btn-fill btn-sm"
                                                ng-click="revokeCertificateModal(cerficate)" data-toggle="modal"
                                               > Revoquer
                                        </button>
                                        <!--
                                        <span id="modal" ng-click="showModal($event)" data-userName={{user.username}}
                                              data-toggle="modal" data-target="#DataCertificate"> Ajout d'un certificat <i
                                                style="cursor: pointer;" class="fa fa-plus text-primary"></i></span>
                                                !-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <p class="copyright text-center txt1">
                        © Shield Certificate
                    </p>
                </nav>
            </div>
        </footer>
    </div>

    <!-- Modal for add certificate -->
    <div ng-controller="CreateCertificateCtrl" class="modal fade" id="DataCertificate" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create certificate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-files="getTheFiles($files)">
                        <label>Veuillez insérer votre certificat</label>
                        <input id="uploadCaptureInputFile" type="file" name="file"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="CreateCertificate()" type="button" class="btn btn-primary">Create certificate
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ViewDataCertificate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ci-Dessous le Contenu du Certificat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <code>
                        {{selectedCertificate.cert}}
                    </code>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Télécharger</button>
                </div>
            </div>
        </div>
    </div>

</div>
